
html {
  font-family: sans-serif;
  width: 100%;
  height:100%;
}
fieldset {
	border:0px;
}
fieldset hr {
	margin-bottom: 5%;
}
fieldset input[type="text"]
{
	margin-bottom:5%;	
}

.pag-escolha{
	position: relative;
	width: 73%;
	height: 100%;
	left: 290px;
	border-radius:4px;
	box-shadow: 2px 2px 8px #CCCCCC; /*cinza*/
}
fieldset button 
{
	margin-top:5%;
	text-align:center;
	float:right;
	margin-right: 2%;
}
fieldset h2 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	touch-action:manipulation;
	cursor:pointer;
}
.btn-azul {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}


#imgaluno{
    position: absolute;
    top: 21%;
    left: 43.5%;
    z-index: 2;
}

#logo-principal{
    position: fixed;
    top: 5%;
    left: 36%;
	width: 340px;
	height: 140px;
	z-index: 2;
}

.chart {
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 9%;
}
.ranking {
	margin-top:150px;
	width: 500px;
	height: 200px;
	float: left;
}
.center {
	text-align:center;
}

.form {
	margin-top: 10%;
}
.formulario-login{
    position: absolute;
    width: 30%;
    height: 50%;
    top: 30%;
    left: 35%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #CCCCCC; /*cinza*/
    display: -webkit-flex;
    align-items: center;
    -webkit-justify-content: center;     
}

.cadastro{
    position: absolute;
    width: 500px;
    height: 450px;
    top: 30%;
    left: 32%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #CCCCCC; /*cinza*/
    display: -webkit-flex;
    align-items: center;
    -webkit-justify-content: center;     
}

.faixaInicial{
    position:relative;
    width: 100%;
	display: block;
    height: 50%;
	padding:30% 0% 0% 0%;
    background-color: #000080; /*azul escuro*/ 
    border-radius:4px;
    box-shadow:2px 2px 2px #CCCCCC; /*cinza*/
}


a:hover {
text-decoration: underline;
color: purple;
}

label {
    display: inline-block;
    width: 90px;
	white-space:nowrap
}

.bt-simples{
	font-size: 14px;
	text-transform: uppercase;
	padding: 4px 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.faixa-topo{
    position:relative;
    width:100%;
    height:110px;
    top: 0px; 
    background-color: #000080; /*azul escuro*/ 
    border-radius:4px;
    box-shadow:2px 2px 2px #CCCCCC; /*cinza*/
    float:none;
}

#logo-geral{
    position: absolute;
    top: 10%;
    z-index: 2;
}

#nome-usuario 
{	
	color:white;
	font-size:31px;
	margin-left:88%;
	margin-top: -8%;
	position:absolute;
}

#img-usuario{
	position: absolute;
	top: 8%;
    height: 130px;
	width: 130px;
	left: 88%;
}
#img-usuario:hover {
	-moz-transform: scale(1.1) ;
	-webkit-transform: scale(1.1) ;
	-o-transform: scale(1.1) ;
	-ms-transform: scale(1.1) ;
	transform: scale(1.1);
	border-radius: 50%;
	box-shadow: 2px 2px 8px #CCCCCC; /*cinza*/
}

.corpo{
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #CCCCCC; /*cinza*/
    display: -webkit-flex;     
}


/* Menu */
#menu-vertical, #submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: #F5F5F5;
    position: absolute;
    height: 100%;
    overflow: auto;
}


#menu-vertical li a, #submenu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
	font-size: 18px;
}

#menu-vertical li ul {
	display: none;
}
#menu-vertical li:hover > ul{
	display: block;
}
#menu-vertical li a.active{
    background-color: #B4CDCD;
    color: white;
	text-decoration:none;
}

#menu-vertical li a:hover:not(.active), #submenu li a:hover:not(.active){
    background-color: #f1f1f1;
    color: #696969;
	text-decoration:none;
	position:none;
}

/*Submenu*/
/* Nao consegui fazer o submenu funcionar :(
li ul {
    position: absolute;
    left: 245px;
    top: 0;
    display: none;
}

li:hover ul { display: block; }
	*/
/* Fim do menu */


.pag-livros{
	position: relative;
	width: 73%;
	height: 100%;
	top: 100px;
	left: 290px;
	border-radius:4px;
	box-shadow: 2px 2px 8px #CCCCCC; /*cinza*/
}

.noticia{
	position: relative;
	width: 40%;
	height: 100%;
	margin-top: 2%;
	left: 290px;
}

.pesquisa{
	text-align:right;
	padding:5% 10% 0 0%;
}

.news-container {
	margin-top:-2%;
}
.article h6 {
	font-weight:normal;
}
.noticia .titulo {
	font-size: 20px;
	font-weight:none;
	color: #191970;
}

.noticia .article 
{	
	width:100%;
	height:100%;
}
.noticia .article a {
	text-decoration:none;
}


.titulo-form{
	position: absolute;
	top: 165px;
	left: 305px;
	font-size: 30px;
	color: #191970;
}

.tabela-livros {
    width: 100%;
	border: 1px;
	
}
.tabela-livros video {
	width:100%;
	height:70%;
}

.tabela-livros  tr {
    height: 300px;
	
    text-align: center;
}

img.img-livros {
	width: 150px;
	height: 200px;
}

img.img-videos {
	width: 140px;
	height: 150px;
}

.select-pesquisa-video{
	display: inline-block;
	margin-left: em;
}

/* Simulado */
.simulado{
	position: relative;
	width: 73%;
	height: 100%;
	top: 100px;
	left: 290px;
	border-radius:4px;
	box-shadow: 2px 2px 8px #CCCCCC; /*cinza*/
}
.simulado #botaoComentario, #botaoEnviarResposta {
	float:right;
	margin-right: 2%;
}
.simulado .titulo {
	padding-left:1%;
	font-size: 20px;
}
.simulado .quantidade {
	text-align: right;
}
.simulado li,ul
{
    list-style-type: none;
	text-decoration: none;
	font-size:12px;
}
.simulado #comentarios 
{
	display: none;
}
.simulado .comentario
{
	padding-left: 2%;
}
.simulado .comentario .usuario 
{
	color: blue;
	padding-top:1%;
}

.simulado .rating {
	direction: rtl;
}
.simulado .rating > span:hover:before,
.simulado .rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

/* Desempenho */
.highchart { display:none; }
.container
{
	width:25%;
	height: 30%;
	position:absolute;
	padding:2%;
	background-color:#eee;
	-webkit-box-shadow: 0px 1px 15px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 15px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 15px rgba(50, 50, 50, 0.75);
	margin-left: 20%;
	margin-top: 10%;
}
#parent
{
	margin-left:7%;
	margin-bottom:10%;
}

.alternativas{
	padding-left: 5%;
}

/*Botoes das redes sociais*/
.bt-redessociais{
	position:fixed;
	right:10px;
	top:65%;
}
.bt-redessociais img{
	float:right;
	clear:right;
	margin:1px;
	-webkit-transition: all .0s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.bt-redessociais img:hover{
	-moz-transform: scale(1.2) rotate(6deg);
	-webkit-transform: scale(1.2) rotate(6deg);
	-o-transform: scale(1.2) rotate(6deg);
	-ms-transform: scale(1.2) rotate(6deg);
	transform: scale(1.2) rotate(6deg);
}



/*  Paginação */
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
	text-align:center;
	margin-left: 30%;
	
}

ul.pagination li {display: inline;}

ul.pagination li a { color: black; float: left; padding: 8px 16px; text-decoration: none; }

ul.pagination li a.active {
    background-color: #CCCCCC;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div .box-usuario{ position: absolute; margin-left: 83%; margin-top: 5.5%; border-radius: 5px 5px 5px 5px; box-shadow: 2px 2px 8px #CCCCCC; width:15%; background-color: #fff; z-index: 1; }

.box-usuario .menu-usuario{ text-align: center; }

.box-usuario .nome-usuario{ font-weight: bold; color: #191970;}

.box-usuario .menu-usuario a:link { text-decoration:none;}

.box-usuario .menu-usuario a:hover { color: #F08080; }

.perfil-geral{ display: table; width: 80%; margin: 0 auto;}

.perfil-geral .perfil-foto{ float:left; width: 29%; height: 250px; text-align: center; }

.perfil-geral .perfil-foto #perfil-img-usuario{ height: 140px; width: 140px; border-radius: 50%; box-shadow: 2px 2px 8px #CCCCCC;}

.perfil-geral .perfil-dados{ float: right; margin-top: 3%;}

.perfil-geral .perfil-dados * { vertical-align: top; }

.perfil-geral .perfil-dados .perfil-campo{ margin-bottom: 3%;}

.form-perfil .perfil-campo #perfil-descricao{ width:400px; height:100px; resize:both;}

label.perfil-labels{ display: inline-block; width: 120px; display: inline-block;}

.btn-atualizar{ margin-right: 100%}

.img-videos{ height: 130px; width: 120px;}

/* Tooltip que mostra informações sobre as datas*/
.tooltip { position: relative; display: inline-block; position: fixed; right: 0; bottom: 0;}

.tooltip .tooltip-texto { visibility: hidden; width: 310px; background-color: #B22222; color: #fff; text-align: center; padding: 5px 0; border-radius: 6px;	 top: -5px; right: 103%; line-height: 150%; position: absolute; z-index: 1;}

.tooltip #img-calendario{ width: 66px; height: 65px; }

.tooltip:hover .tooltip-texto { visibility: visible; }
/*Fim do tooltip*/









