#imgaluno{
    position: absolute;
    top: 21%;
    left: 42%;
    z-index: 2;
}

.formulario{
    position: absolute;
    width: 360px;
    height: 350px;
    top: 30%;
    left: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #CCCCCC; /*cinza*/
    display: -webkit-flex;
    align-items: center;
    -webkit-justify-content: center;     
}

.cadastro{
    position: absolute;
    width: 500px;
    height: 450px;
    top: 30%;
    left: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #CCCCCC; /*cinza*/
    display: -webkit-flex;
    align-items: center;
    -webkit-justify-content: center;     
}

.faixaInicial{
    position:relative;
    width:100%;
    height:350px;
    top: 0px; 
    background-color: lightblue; 
    border-radius:4px;
    box-shadow:2px 2px 2px #CCCCCC; /*cinza*/
    float:none;
}


a:hover {
text-decoration: underline;
color: purple;
}

label {

    display: inline-block;
    width: 90px;
	white-space:nowrap
}

